<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <p>
    Hello,
    <br/>
    Your appointement has been rejected by {{ artist.firstName }} {{ artist.lastName }}
    <br/>
    <span>Date : {{ appointement.date }}</span>
  </p>
</body>
</html>
